<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuang.course.mapper.CmsCourseMapper">

    <select id="findCourseByTcId" resultType="com.kuang.course.entity.vo.IndexCourseVo" >
        select id , title , description , cover , total_length , status , views from cms_course
        where tc_id = #{tcId} order by sort asc
    </select>

    <select id="findCourseVo" resultType="com.kuang.course.entity.vo.CourseVo" >
        select course.id , course.title , course.description , course.price , course.total_length , course.views ,
               details.overview , details.teacher , details.suitable_people , details.course_arrange , details.course_feedback
        from cms_course as course left outer join cms_details as details on course.id = details.course_id
        where course.id = #{courseId}
    </select>


    <update id="updateCourseViews" parameterType="java.util.List" >
        <foreach collection="courseList" item="course" index="index" open="" close="" separator=";">
            update cms_course set views = #{course.views}
            where id = #{course.id}
        </foreach>
    </update>

    <select id="findMessageCourseVo" resultType="com.kuang.springcloud.entity.MessageCourseVo" >
        select course.id as courseId, course.cover , course.title , course.description ,
               details.teacher ,
               course.views , course.gmt_modified
        from cms_course as course left outer join cms_details as details on course.id = details.course_id
        where course.id in
        <foreach collection="courseIdList" item="courseId" open="(" close=")" separator="," >
            #{courseId}
        </foreach>
    </select>
</mapper>
