<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuang.course.mapper.CmsTwoCategoryMapper">

    <select id="findSlideTitleByOcId" resultType="com.kuang.course.entity.vo.SlideTitleVo" >
        select id , slide_title from cms_two_category where oc_id = #{ocId} order by sort asc
    </select>


    <select id="findIndexCategoryVoByOcId" resultType="com.kuang.course.entity.vo.IndexCategoryVo" >
        select id , title from cms_two_category where oc_id = #{ocId} order by sort asc
    </select>
</mapper>
