<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuang.bbs.mapper.ArticleMapper">


    <select id="pageArticleCondition" resultType="com.kuang.bbs.entity.vo.IndexArticleVo" >
        select article.id , article.is_top , article.title , article.description , article.user_id ,
               article.avatar , article.nickname , article.views , article.is_excellent_article , article.gmt_create ,
               category.category_name
        from bbs_article as article join bbs_category as category on article.category_id = category.id
        where article.is_violation_article = 0 and (article.is_release = 1 or article.is_bbs = 1)
        order by article.gmt_create desc
        limit #{current} , #{limit}
    </select>

    <update id="updateArticleViews" parameterType="java.util.List" >
        <foreach collection="articleUpdateList" item="article" index="index" open="" close="" separator=";">
            update bbs_article set views = #{article.views}
            where id = #{article.id}
        </foreach>
    </update>

    <resultMap id="findOtherUserArticleList" type="com.kuang.bbs.entity.vo.OtherUserArticleVo" >
        <id column="articleId" property="articleId" />
        <result column="articleTitle" property="title" />
        <result column="articleDescription" property="description" />
        <result column="articleViews" property="views" />
        <result column="articlegmtCreate" property="gmtCreate" />
        <result column="articleisExcellentArticle" property="isExcellentArticle" />
        <result column="categoryCategoryName" property="categoryName" />

        <collection property="labelList" ofType="java.lang.String"
                    select="com.kuang.bbs.mapper.LabelMapper.findArticleLabel"
                    column="articleId"/>
    </resultMap>


    <select id="findOtherUserArticle" resultMap="findOtherUserArticleList" >
        select article.id as articleId , article.title as articleTitle , article.description as articleDescription,
               article.views as articleViews, article.gmt_create as articlegmtCreate, article.is_excellent_article as articleisExcellentArticle,
               category.category_name as categoryCategoryName
        from bbs_article as article join bbs_category as category
        on article.category_id = category.id
        where article.user_id = #{userId} and article.is_violation_article = 0
                                          and (is_release = 1 or is_bbs = 1)
        order by article.gmt_create desc
        limit #{current} , #{limit}
    </select>

    <select id="getIndexArticleList" resultType="com.kuang.bbs.entity.vo.IndexArticleVo" >
        select  article.id , article.is_top , article.title , article.description , article.user_id ,
                        article.avatar , article.nickname , article.views , article.is_excellent_article , article.gmt_create ,
                        category.category_name
        from bbs_article as article join bbs_category as category on article.category_id = category.id
        where article.id in
        <foreach collection="esArticleList" item="esArticle" open="(" close=")" separator="," >
            #{esArticle.id}
        </foreach>
    </select>


</mapper>
