<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuang.bbs.mapper.LabelMapper">

    <select id="findUserLabel" resultType="java.lang.String" >
        select distinct (label.label_name) , label.label_name
        from bbs_label as label join bbs_article as article
        on label.article_id = article.id
        where article.user_id = #{userId}
    </select>

    <select id="findArticleLabel" resultType="java.lang.String" >
        select distinct (bbs_label.label_name) , bbs_label.label_name
        from bbs_label
        where bbs_label.article_id = #{articleId}
    </select>
</mapper>
