<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuang.vip.mapper.MoneyKMapper">

    <select id="findAll" resultType="com.kuang.vip.entity.vo.MoneyKVo" >
        select id , money , price from vip_money_k order by money asc
    </select>
</mapper>
