<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuang.ucenter.mapper.UserTalkMapper">

    <select id="findUserTalk" resultType="com.kuang.ucenter.entity.vo.UserTalkVo" >
        select id , is_public , content , gmt_create from user_talk
        where user_id = #{userId}
        order by gmt_create desc
        limit #{current} , #{limit}
    </select>
</mapper>
