<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuang.ucenter.mapper.UserInfoMapper">


    <update id="updateUserIsSign" >
        update user_info set is_sign = 0
    </update>

    <select id="findUserByAccountOrNickname" resultType="com.kuang.ucenter.entity.vo.UserSearchVo" >
        select id as userId , nickname , avatar from user_info
        where account like '%' #{accountOrNickname} '%' or nickname like '%' #{accountOrNickname} '%'
        limit #{current} , #{limit}
    </select>
</mapper>
