<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuang.ucenter.mapper.UserInfoMapper">

    <select id="findUserNumberByCondition" resultType="java.lang.Long">
        select count(distinct id) from user_info
        where is_disabled = 0
        <if test="accountOrNickname!=null and accountOrNickname!=''">
            and (account like '%' #{accountOrNickname} '%' or nickname like '%' #{accountOrNickname})
        </if>
    </select>

    <select id="findUserByCondition" resultType="com.kuang.ucenter.entity.vo.UserVo" >
        select distinct (id) , id , nickname , avatar from user_info
        where is_disabled = 0
        <if test="accountOrNickname!=null and accountOrNickname!=''">
            and (account like '%' #{accountOrNickname} '%' or nickname like '%' #{accountOrNickname})
        </if>
        limit #{current} , #{limit}
    </select>

    <select id="findAWEP" resultType="com.kuang.ucenter.entity.vo.UserSecurity" >
        select id , account , nickname , email , password from user_info where id = #{userId}
    </select>


    <select id="findDetailInformation" resultType="com.kuang.ucenter.entity.vo.UserDetailVo" >
        select id , nickname , avatar , bg_img , sex , experience , sign from user_info
        where id = #{userId}
    </select>
</mapper>
